# Terraform
terraform/environments/dev.tfvars
terraform/environments/staging.tfvars
terraform/environments/prod.tfvars
*.tfplan
tfplan
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Docker
*.tar

# OS
.DS_Store
Thumbs.db
